@model HotelSystem.Data.DataModels.Reservation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reservationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reservationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roomType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberOfPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfPeople)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" asp-route-id="@Model.Id" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
